<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a><br>
  <a href="https://railstutorial.jp/#ebook">電子書籍</a><br>
  <a href="https://railstutorial.jp/#screencast">動画教材</a><br>
  <a href="http://rubyonrails.org">Ruby on Rails 公式サイト</a><br>
  このWebアプリはRuby on Railsで動いています。
</p>