<% provide(:title, "Contact") %>
<h1>CONTACT</h1>
<p>
  Ruby on Railsについてのお問い合わせはこちら
  <a href="https://railstutorial.jp/contact">Contact Page</a><br>
  Twwwitterについてのお問い合わせはこちら
  <a href="https://twitter.com/falcon_izaya">製作者Twitter</a>
</p>